/*------------------------------------*
  RESET
*------------------------------------*/
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,
p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
  font-size: 100%;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

html {
  font-size: 100%;
  color: #222222;
}

body {
  font-size: 1.125em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-size: 1.44444444em;
  line-height: 1.03846154em;
  margin-bottom: 1.03846154em;
}

h2 {
  font-size: 1.33333333em;
  line-height: 1.125em;
  margin-bottom: 1.125em;
  font-style: italic;
}

h3 {
  font-size: 1.22222222em;
  line-height: 1.22727273em;
  margin-bottom: 1.22727273em;
  font-style: italic;
}

h4 {
  font-size: 1.11111111em;
  line-height: 1.35em;
  margin-bottom: 1.35em;
  font-style: italic;
}

h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-style: italic;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-style: italic;
}

p {
  margin-bottom: 1.5em;
}

p + h2 {
  margin-top: 2em;
}

ul {
  margin-bottom: 1.5em;
  list-style-position: outside;
}

ol {
  margin-bottom: 1.5em;
}

ol ol, ul ul, ol ul, ul ol {
  margin-left: 60px;
}

blockquote {
  margin: 0 60px 0 45px;
  border-left: 5px solid #dddddd;
  padding-left: 10px;
}

blockquote b {
  display: block;
  text-indent: 0;
}

a, a:active, a:hover, a:focus, a:visited {
  color: #0061f3;
}

img {
  max-width: 100%;
}

code {
  font-size: 0.78947368em;
  line-height: 1.9em;
}

pre {
  overflow: auto;
  margin-bottom: 1.5em;
}

#container {
  max-width: 660px;
  margin: 0 auto;
  width: 100%;
}

article {
  padding: 0 20px;
}

article time {
  display: block;
  clear: both;
  color: #777777;
}

article .translation {
  display: block;
  float: right;
  clear: both;
  font-size: 0.77777778em;
  line-height: 1.92857143em;
  max-width: 75%;
  margin-bottom: 1.5em;
  margin-top: -1.5em;
}

header {
  border-bottom: #dddddd 1px solid;
  margin-bottom: 53px;
  padding: 0 20px;
}

nav a, nav a:active, nav a:hover, nav a:focus, nav a:visited {
  color: #505050;
  text-decoration: none;
}

nav ul {
  margin-bottom: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

.name {
  float: left;
}

.name a, .name a:active, .name a:hover, .name a:focus, .name a:visited {
  color: #505050;
  text-decoration: none;
}

.name::after {
  color: #505050;
  content: "\02002\02022\02002";
}

sub {
  top: 0.4em;
}

.post-list {
  list-style: none;
}

.post-list a {
  display: inline-block;
  width: 380px;
}

.post-list li time {
  color: #777777;
  text-align: right;
  width: 215px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 20px;
}

section#content {
  padding: 0 10px;
}

.home {
  padding: 0;
}

.home header {
  max-width: 620px;
  margin: 0 auto;
  border: none;
  margin-top: 2em;
}

.home footer {
  max-width: 620px;
  margin: 0 auto;
  font-size: 0.83333333em;
  line-height: 1.4em;
}

.home h1 {
  display: inline-block;
  font-size: 2em;
  margin-right: 2em;
}

#me {
  width: 30%;
  height: auto;
  min-width: 94px;
  vertical-align: baseline;
}

#about {
  width: 100%;
  box-sizing: border-box;
  padding: 1em calc(50% - 310px);
  background-color: #eeeeee;
  margin-bottom: 1em;
}

#about p {
  margin-bottom: 0;
}

#about .go {
  display: block;
}

#about hr {
  border: 0;
  height: 1px;
  border-bottom: 1px #aaaaaa solid;
}

#container_photos {
  max-width: 800px;
  margin: 0 auto;
}

#container_photos header, #container_photos #introduction, #container_photos footer {
  max-width: 620px;
  margin: 0 auto;
}

#container_photos h1 {
  font-size: 2em;
  margin-bottom: 0;
}

#container_photos header {
  padding: 0 20px;
  margin-bottom: 53px;
}

#container_photos #introduction {
  padding: 0 10px;
  margin-bottom: 1.5em;
  text-align: center;
}

#container_photos section#content {
  padding: 0;
}

@media (max-width: 350px) {
  .name::after {
    content: "";
  }

  nav {
    clear: both;
  }
  
}
@media (max-width: 500px) {
  body {
    font-size: 0.88888888em;
  }

  h1 {
    font-size: 1.5em;
    line-height: 1em;
  }

  h2 {
    font-size: 1.375em;
    line-height: 1.09090909em;
  }

  h3 {
    font-size: 1.25em;
    line-height: 1.2em;
  }

  h4 {
    font-size: 1.125em;
    line-height: 1.3333333em;
  }

  code {
    font-size: 0.875em;
  }

  pre {
    font-size: 0.875em;
  }
  
}
@media (max-width: 580px) {
  .post-list li {
    margin-bottom: 1.5em;
    padding-right: 20px;
  }
  
  .post-list li time {
    display: none;
  }
  
  .post-list a {
    width: 100%;
    text-align: center;
  }
  
}
